html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

h1 {
  color: rgb(193, 189, 193);
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
} 

p {
    color: #949494;
    text-align: center;
    font-size: 12px;
}
a {
  color: #FFF;
  text-align: center;
  transition: color 0.25s ease-out;
  display: block;
  font-size: 12px;
}

a:hover {
  color: #ff00ee;
}

div.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div.content {
    width: 75%;
    background: #606060;
    padding: 20px 20px 20px 20px;
}
div.gallery {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  columns: 5 90px;
  column-gap: 0;
  overflow: hidden;
}

div.gallery img {
  width: 100%;
  display: block;
  object-fit: contain;
  flex-grow: 0;
} 

@media  screen and (min-width: 1050px) {
  div.gallery {
    columns: 9 90px;
  }
  div.content {
    width: calc((100vw - 15px) / 9 * 5);
  }
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  } 
  a {
    font-size: 18px;
  }
}